@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: "hind", sans-serif; ;
  font-family: "Montserrat", sans-serif;
  background-color:#f4f4f4;
  margin: 10px;
  padding: 10px;
}

header {
  position: relative;
  background-image: url("../../fondecran/iStock-1455862033.jpg");
  background-size: cover;
  background-position: center;
  height: 330px;
  padding: 15px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  width: 16%;
  height: auto;
}
.logo img {
 padding-top: 20px;
 margin-bottom: 20px;
}
.logo img:hover {
  transform: scale(1.1);
}

.header-nav {
  position: absolute;
  top: 240px;
  left: 50%;
  transform: translateX(-50%);
}

.header-nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header-nav ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 80px;
  background-color: #54331e;
  text-align: center;
  font-size: 24px;
  text-decoration: none;
  color: white;
  transition: background-color 0.3s ease;
}

.header-nav ul li a:hover {
  background-color: #3498db;
  color: white;
}

.burger-container {
  display: none;
}

/* Conteneur principal */
.login-container {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  padding: 20px;
  text-align: center;
}

#damin-link {
  display: none;
  top: 5px;
}

h2 {
  color: #333;
  margin-bottom: 20px;
}

/* Conteneur principal */
.login-container {
  width: 100%;
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}
/* admin */
.admin-link {
  display: block;
  text-align: center;
  margin-bottom: 20px;
  text-decoration: none;
  color: #007bff;
  font-weight: bold;

}
/* Champs du formulaire */
.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;

}

input, select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;

}
/* Bouton de soumission */
.submit-btn {
  width: 100%;
  padding: 10px;
  background-color: #197c2f;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;

}

.submit-btn:hover {
  background-color: #0056b3;

}

.background-section {
  background-image: url("../../fondecran/fondPrincipal.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.presentation-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-container {
  width: 700px;
  text-align: center;
}

.text-container h1 {
  font-family: sans-serif;
  font-size: 38px;
  color: black;
  margin: 20px 0;
}

.text-container p {
  font-size: 16px;
  font-weight: bold;
  color: black;
}

.image-container {
  margin-top: 100px;
}

.image-container img {
  width: 70%;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.centered-section {
  text-align: center;
  margin-top: 100px;
}

.centered-section h2 {
  font-size: 24px;
  color: var(--text-color);
}

.centered-section p {
  font-size: 16px;
  color: var(--text-color);
}

.container {
  text-align: center;
}

/* Rectangle Styles */
.rectangle {
  background-color: #ecf0f1;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
  transition: transform 0.3s ease;
}

.rectangle:hover {
  transform: translateY(-5px);
}

.rectangle img {
  width: 100%;
  transition: transform 0.3s ease;
}

.rectangle img:hover {
  transform: scale(1.1);
}

.description-contain {
  padding: 15px;
}

.description-contain p {
  margin-bottom: 10px;
  font-size: 15px;
}

.description-contain a {
  color: #3498db;
  font-weight: bold;
  text-decoration: none;
}

.description-contain a:hover {
  color: #2980b9;
}

.description-contain img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

h3 {
  font-size: 24px;
  text-align: left;
  margin-bottom: 20px;
}

#pseudo,
#email,
#commentaire {
  width: 50%;
  padding: 10px;
  border: 1px solid var(--text-color);
  border-radius: 5px;
}

.btn-submit {
  background-color: var(--secondary-color);
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-submit:hover {
  background-color: #0056b3;
}

.comment-info h4,
.comment-content h4 {
  margin-top: 0;
}

.comment-content {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 10px;
  margin: 20px 0;
}

.footer-title {
font-size: 20px;
  font-weight: bold;
  color: white;
}

.contact-button {
  margin-top: 15px;
  background-color: #333;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-button:hover {
  background-color: #007bff;
}

.social-icons {
  margin-top: 15px;
}

.social-icon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.social-icon:hover {
  transform: scale(1.1);
}
.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.custom-list li a {
  margin-bottom: 10px;
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
}

.custom-list li a:hover {
  color: #3498db;
}

.text-muted {
  margin-top: 10px;
  color: #bbbbbb;
}

.title-form {
  font-family: sans-serif;
  color: #3498db;
  font-size: 40px;
  text-align: center;
  padding: 30px;
}

.Formulaire {
  max-width: 700px;
  margin: 50px auto;
  background-color: #dae8e1;
  padding: 20px;
  border-radius: 10px;
}

.form-group {
  margin-bottom: 20px;
}
.form-button {
  max-width: 250px;
  height: 40px;
  border-radius: 10px;
  color: white;
  background-color: #197c2f;
}

.form-label {
  font-family: "Roboto", sans-serif;
}

.screen {
  background-image: url("/fondecran/paysage.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/*...Services...*/
.service-container {
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.service-nav {
  background-color: #dae8e1;
  max-height: 500px;
  max-width: 250px;
}

.service-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.service-nav ul li {
  padding: 20px;
  font-size: 32px;
}

.service-nav ul li a {
  color: black;
  text-decoration: none;
}

.service-nav ul li a:hover {
  background-color: aqua;
}

.content {
  text-align: center;
}

.service-title {
  font-size: 50px;
  color: black;
  font-family: var(--title-font);
  margin-top: 30px;
}

.intro {
  font-size: 20px;
  color: black;
  line-height: 1.5;
  font-family: var(--main-font);
  margin-top: var(--margin-large);
}

/*...Section services...*/
.section-services {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: var(--margin-large);
}


.service1,
.service2,
.service3,
.service4,
.service5,
.service6 {
  display: flex;
  align-items: center;
  margin-bottom: auto;
}


.description,
.service {
  margin-left:auto;
}


.service img {
  max-width: 600px;
  max-height: 300px;
  border-radius: 10px;
  text-transform: 0.3s ease;
}

.service img:hover {
  transform: scale(1.1);
}

.description {
  width: 600px;
  height: auto;
  background-color: rgba(0, 0, 0, 0.25);
  padding: var(--padding-medium);
  color: white;
  text-align: center;
}


.serv-title {
  font-size: 20px;
  margin-bottom: 10px;
}


.description p {
  font-size: 16px;
}


.serv-title,
.description p {
  color: white;
  font-family: sans-serif;
}

.animals-title {
  font-size: 50px;
  color: white;
  font-family: sans-serif;
  margin-top: 30px;
}


.intro-animals {
  font-size: 20px;
  color: white;
  line-height: 1.5;
  font-family: sans-serif;
  margin-top: auto;
}


.animals-intro {
  background-color: rgba(0, 0, 0, 0.25);
}


/* Conteneur du bouton "J'aime" */
.like-button-container {
  text-align: right;
  margin-top: var(--padding-medium);
}


/* Style du bouton "J'aime" */
button.jaime-btn {
  background: transparent;
  border: none; 
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

button.jaime-btn:hover {
  transform: scale(1.1);
}


/*button info animals*/
.info {
  background-color: #54331e;
  color: white;
  border: none;
  font-size: auto;
  border-radius: 5px;
}


.info:hover {
  background-color: #0056b3;
}
@media (max-width: 834px) {
  /* Header */
  header {
    height: auto;
    width: auto;
  }


  .header-nav {
    display: none;
  }


  .header-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }


  .logo img {
    width: 100px;
    height: 90px;
  }


  /* Formulaire admin */
  a.admin {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 14px;
  }


  .login-form {
    position: relative;
    top: 50px;
    right: 10px;
    width: 90%;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    box-sizing: border-box;
  }


  /* Burger Menu */
  .burger-container {
    position: absolute;
    top: 60px;
    right: 10px;
    display: block;
  }


  /* Vertical Navbar for Mobile */
  .vertical-navbar {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    overflow-y: auto;
    padding-top: 60px;
    z-index: 1000;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
  }


  .vertical-navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }


  .vertical-navbar a {
    display: block;
    color: #54331e;
    font-size: 18px;
    padding: 15px 20px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }


  .vertical-navbar a:hover {
    background-color: #f78f2e;
  }


  /* Close Button */
  #close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    color: #54331e;
    border: none;
    font-size: 18px;
    cursor: pointer;
  }
  /* Principale Mobile format*/

  @media (max-width: 834px) {
    /* Principale Mobile Format */
    .text-container {
      width: auto;
      text-align: center;
    }
 
    .text-container h1 {
      font-size: 32px;
      margin: 30px 0 10px;
    }
 
    .text-container p {
      font-size: 10px;
      font-weight: bold;
      color: #54331e;
    }
 
    .container {
      text-align: center;
    }
 
    /* Section Centrale */
    .centered-section h2 {
      font-size: 20px;
    }
 
    .centered-section p {
      font-size: 12px;
    }
 
    .rectangle img,
    .description-contain {
      width: auto;
      height: auto;
    }
 
    .description-contain p {
      font-size: 10px;
      color: #54331e;
    }
 
    .description-contain a {
      font-size: 10px;
    }
 
    .description-contain img {
      width: 25px;
      height: 25px;
    }
 
    .image-container {
      margin-top: 50px;
    }
 
    /* Comment Section */
    .comment-info h4,
    .comment-content h4,
    .comment-content p {
      font-size: 12px;
    }
 
    /* Animals Format Mobile */
    .animals-title {
      font-size: 24px;
      margin-top: 10px;
    }
 
    .intro-animals {
      font-size: 10px;
      margin-top: 10px;
    }
 
    /* Service Mobile Format */
    .service-container {
      flex-direction: column;
      padding: 20px;
    }
 
    .service-nav {
      max-width: none;
    }
 
    .service-nav ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
 
    .service-nav ul li {
      flex: 0 0 50%;
      padding: 10px;
    }
 
    .section-services {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 30px;
    }
 
    .service1,
    .service2,
    .service3,
    .service4,
    .service5,
    .service6 {
      flex-direction: column;
      align-items: center;
    }
 
    .description,
    .service {
      margin: 20px auto 0;
    }
 
    .service img {
      max-width: 100%;
      max-height: 250px;
      border-radius: 10px;
      margin-bottom: 10px;
    }
 
    .description {
      width: 80%;
      padding: 10px;
      text-align: center;
    }
 
    .serv-title {
      font-size: 18px;
      margin-bottom: 5px;
    }
 
    .description p {
      font-size: 14px;
    }
 
 
    .contact-button {
      max-width: 200px;
      margin-bottom: 10px;
    }
 
    .footer-title {
      font-size: 12px;
    }
 
    .link-secondary {
      font-size: 10px;
    }
 
    .social-icon {
      width: 20px;
      height: 20px;
    }
 
    .text-muted {
      font-size: 8px;
    }
 
    .service-divider {
      width: 80%;
      border-bottom: 2px solid white;
      margin: 20px auto;
    }
  
 
  }

}